.see-links {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    flex-shrink: 1;
}

.card-img-top {
    object-fit: scale-up;
    min-height: calc(var(--vh, 1vh) * 60);
    max-height: calc(var(--vh, 1vh) * 60);
    width: 100%;
}

.card-footer {
    min-height: calc(var(--vh, 1vh) * 30);
    max-height: calc(var(--vh, 1vh) * 30);
    align-items: center;
    justify-content: space-between;
}

.project-card {
    font-size: 0.6vw;
}

.project-title {
    font-size: 1.5rem;
    min-height: calc(var(--vh, 1vh) * 10);
    max-height: calc(var(--vh, 1vh) * 10);
}

.project-button {
    font-size: 0.8vw !important;
    width: 100%;
    margin-bottom: 0.1rem;
}

.project-description {
    font-size: 1rem;

}